 body{
            background-color: #f2f2f2;
        }
        section{
            background-color: white;
            width: 500px;
            height: 300px;
            border-radius: 18px;
            border: grey 2px solid;
            margin-top: 20px;
        }
        
        #raw-price{
            font-size: 18px;
            width: 300px;
            display: flex;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
            border: grey 2px solid;
        }
        #temp-c{
            font-size: 18px;
            width: 300px;
            display: flex;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
            border: grey 2px solid;
        }
        #temp-F{
            font-size: 18px;
            width: 300px;
            display: flex;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
        .task1 h1{
            font-size: 24px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
        .task1 h2{
            font-size: 24px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
    
        .task2 h2{
            font-size: 24px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
        .task4 h2{
            font-size: 24px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
        .task5 h2{
            font-size: 24px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
        #enternumber{
            font-size: 18px;
            width: 300px;
            display: flex;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
            border: grey 2px solid;

        }
        #string{
            font-size: 18px;
            width: 300px;
            display: flex;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
            border: grey 2px solid;
        }
        #string-vowel{
            font-size: 18px;
            width: 300px;
            display: flex;
            height: 30px;
            border-radius: 50px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
            border: grey 2px solid;
        }
        .task6 h2{
            font-size: 24px;
            display: flex;
            justify-self: center;
            margin-left: -50px;
        }
        table{
            width:100% ;
            border-collapse: collapse;
            margin-top: 40px;
        }
        th{
            border: black 2px solid;
        }
        td{
            border: black 2px solid;
            
        }
        .Tasks{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }


